:root {
    --dark: #374151;
    --darker:#1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8b5cf6;
}

/*  */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    /* used to lay out and alighn space among items in body (container) */
    display: flex;
    /* makes layout of items vertical */
    flex-direction: column;
    /* vh: viewport height; so 100 means take up the whole page */
    min-height: 100vh;
    background: var(--dark);
    /* make items in body white (because background is dark) */
    color: white;
}

header {
    /* rem is root element's font-size aka 1rem = 16px */
    padding: 2rem 1rem; /*put number and rem together; otherwise doesn't register */
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

/* #: select element with id of _ */
#new-task-form {
    display: flex;
}

/* set everything as none so that we can customize these ourselves */
input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-task-holder {
    color: var(--grey);
}

#new-task-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    /* will make a rectangular button with gradient */
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    /* now make the text have the gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;

}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.5;
}

main {
    flex: 1 1 0%;
    /* padding: 2rem 1rem; */
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

/* '.' refers to section class and its contents */
.task-list {
    padding: 1rem;
}

/* this refers to the h2 in the task-list class */
.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

/* for text that is not read-only */
#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.5;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: crimson;
}