:root {
    --blue: #05386b;
    --shadow-green: #1e5f52;
    --dark-green: #379683;
    --green: #5cdb95;
    --light-green: #8ee4af;
    --off-white: #edf5e1;
} 

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    /* used to lay out and alighn space among items in body (container) */
    display: flex;
    /* makes layout of items vertical */
    flex-direction: column;
    /* vh: viewport height; so 100 means take up the whole page */
    min-height: 100vh;
    background: var(--dark-green);
    color: var(--off-white);
}

header {
    /* rem is root element's font-size aka 1rem = 16px */
    padding: 2rem 1rem; /*put number and rem together; otherwise doesn't register */
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

/* header h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--light-green);
    margin-bottom: 1rem;
} */
header button {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--light-green);
    margin-bottom: 1rem;
    color: var(--light-green);
    background: var(--dark-green);
    padding: 0;
    border: none;
}


header, form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: var(--off-white);
    transition: 0.2s;
}

form button {
    color: var(--dark-green);
    cursor: pointer;
    transition: 0.2s ease;
}

form button:hover {
    color: var(--off-white);
    background: var(--dark-green);
    box-shadow: 5px 5px 0px 0px var(--shadow-green);
}

form button:active {
    opacity: 0.2;
}

.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-list {
    min-width: 30%;
    list-style: none;
}

.task {
    margin: 0.5rem;
    background: var(--off-white);
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.task li {
    /* push buttons to right end */
    flex: 1;
    transition: 0.3s;
}

.check-button, .remove-button {
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    background: var(--off-white);
    transition: 0.2s;
}

.check-button {
    color: var(--dark-green);
    cursor: pointer;
    transition: 0.2s ease;
}

.check-button:hover {
    color: var(--off-white);
    background: var(--dark-green);
    box-shadow: 5px 5px 0px 0px var(--shadow-green);
}

.check-button:active {
    opacity: 0.2;
}

.remove-button {
    color: var(--blue);
    cursor: pointer;
    transition: 0.2s ease;
}

.remove-button:hover {
    color: var(--off-white);
    background: rgb(240, 84, 115);
    box-shadow: 5px 5px 0px 0px var(--shadow-green);
}

.remove-button:active {
    opacity: 0.2;
    
}

.task-item {
    padding: 0rem 0.5rem;
}

.fa-check, .fa-xmark {
    /* make it unaffected by events */
    pointer-events: none;
}

.checked {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}